*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    vertical-align: middle;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
}
/* custom css end */


/* header part start */
#header{
    background: #444444;
}
select{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 14px;
}
select option{
    color: black;
    font-size: 14px;
}
.top_left{
    position: relative;
    padding-top: 12px;
}
.top_left::after{
    position: absolute;
    content: '';
    top: 0;
    right: 80.50%;
    background: white;
    height: 50px;
    width: 1px;
}
.top_left::before{
    position: absolute;
    content: '';
    top: 0;
    left: 8%;
    background: white;
    height: 50px;
    width: 1px;
}
.top_left .number{
    display: inline-block;
}
.top_left .number p{
    color: white;
    font-size: 14px;
}
.top_left .money{
    margin: 0 13px;
}
#header .top_right{
    display: flex;
    justify-content: end;
    color: white;
    font-size: 14px;
    position: relative;
    padding-top: 12px;
}
.top_right::after{
    position: absolute;
    content: '';
    top: 0;
    right: 16%;
    background: white;
    height: 50px;
    width: 1px;
}
.top_right::before{
    position: absolute;
    content: '';
    top: 0;
    right: 32%;
    background: white;
    height: 50px;
    width: 1px;
}
.user{
    padding: 0 15px;
}
/* header part end */




/* navbar part start */
.ban_menu{
    padding-top: 20px;
 }
 .ban_menu .nav-item img{
     margin-top: -32px;
     margin-left: 10px;
     opacity: 0;
 }
 .ban_menu  .nav-item:hover img{
     opacity: 1;
 }
 .ban_menu li a{
     font-family: 'Raleway', sans-serif;
     font-weight: 500;
     font-size: 18px;
     color: black;
 }
 .ban_menu li a:hover{
     color: #de4644;
 }
 .nav_icon{
     padding-top: 10px;
 }
 .nav_icon p i{
     color: #de4644;
 }
 .nav_icon li{
     margin-left: 15px;
 }
 .nav_icon p {
     font-family: 'Raleway', sans-serif;
     font-weight: 500;
     font-size: 18px;
  }
  .search{
    position: relative;
  }
  .search input{
    opacity: 0;
    position: absolute;
    top: 0;
    right: 10px;
    background: transparent;
    border: 1px solid #444;
    transition: all linear.4s;
    -webkit-transition:;
    -moz-transition:;
    -ms-transition:;
    -o-transition:;
    padding-left: 5px;
    cursor: pointer;
}
.search input:focus{
    opacity: 1;
    cursor: text;
}
.search i{
    font-weight: 900;
    margin-right: 30px;
    cursor: pointer;
}
 /* navbar part end */

 /* banner part start */
.banner_img{
    padding: 280px 0;
    position: relative;
    z-index: 1;
}
.banner_img::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.603);
    z-index: -1;
}
#banner .banner_text h2{
    font-family: 'Raleway', sans-serif;
    font-size: 70px;
    font-weight: 600;
    color: white;
}
#banner .banner_text h3{
    text-transform: uppercase;
    color: white;
    font-size: 40px;
    font-weight: 400;
    padding-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
}
#banner .banner_text p{
    color: white;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 30px;
    line-height: 26px;
    padding-right: 640px;
}
#banner .banner_text{
    position: absolute;
    z-index: 3;
    padding-top: 60px;
}
#banner .banner_button a{
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border: 1px solid white;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    transition: all linear .4s;
    -webkit-transition:;
    -moz-transition:;
    -ms-transition:;
    -o-transition:;
    text-transform: uppercase;
}
#banner .banner_button a:hover{
    background: #de4644;
    border: 1px solid #de4644;
}
#banner .banner_icon{
    position: absolute;
    bottom: -120px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform:;
    -moz-transform:;
    -ms-transform:;
    -o-transform:;
}
#banner .banner_icon .left, .right{
    color: #fff;
    border: 1px solid #fff;
    margin-left: 10px;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    transition: all linear.4s;
    -webkit-transition:;
    -moz-transition:;
    -ms-transition:;
    -o-transition:;
}
#banner .banner_icon .left:hover, .right:hover{
   background: #de4644;
   border: 1px solid #de4644;
}
 /* banner part end */


 /* service part start */
#service{
    background: #f1f1f1;
    font-family: 'Open Sans', sans-serif;
    
}
.ser_in1{
    text-align: center;
    padding: 30px 0;
    text-transform: capitalize;
}
.ser_in1 h5:hover{
    color: #de4644;
}
.ser_in{
    text-align: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 30px 0;
    text-transform: capitalize;
}
.ser_in h5:hover{
    color: #de4644;
}

#service .ser_in1 i{
    color: #222222;
    font-size: 22px;
    margin-right: 10px;
    transition: all linear .4s;
    padding: 15px 0;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}
#service .ser_in i{
    color: #222222;
    font-size: 22px;
    margin-right: 10px;
    transition: all linear .4s;
    padding: 15px 0;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}
#service .service h4{
    display: inline-block;
    color: #222222;
    font-size: 24px;
    transition: all linear .4s;
    text-transform: capitalize;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}
/* service part end */


/* shop part start */
#shop{
    padding: 50px 0;
    font-family: 'Raleway', sans-serif;
}
#shop .shop_inner{
    position: relative;
}
#shop .shop_over{
    background-color: rgba(0, 0, 0, 0.637);
    text-align: center;
    width: 80%;
    position: absolute;
    bottom: 0px;
    left: 5%;
    color: white;
    opacity: 0;
}
#shop .shop_inner:hover .shop_over{
    opacity: 1;
}
#shop .shop_over h3{
   text-transform: uppercase;
   font-size: 36px;
   font-weight: 500;

}
#shop .shop_over h4{
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 500;
}
#shop .shop_over button{
    padding: 10px;
    border: none;
    text-transform: capitalize;
    font-weight: 500;
    background-color: #de4644;
    color: white;
    margin-bottom: 20px;
}

#shop .shop_new{
     position: absolute;
     top: 10%;
     left: -11%;
     background-color: #fff;
     width: 48%;
     height: 6%;
     transform: rotate(-45deg);
     text-align: center;
     opacity: 0;
     transition: all linear .4s;
     -webkit-transition: all linear .4s;
     -moz-transition: all linear .4s;
     -ms-transition: all linear .4s;
     -o-transition: all linear .4s;
     -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
     -ms-transform: rotate(-45deg);
     -o-transform: rotate(-45deg);
}
#shop .shop_inner:hover .shop_new{
    opacity: 1;
}
/* shop part end */


/* filter part start */ 
#filter{
    padding: 100px 0;
    font-family: 'Open Sans', sans-serif;
}
#filter head{
    position: relative;
}
#filter h4{
    text-transform: capitalize;
    font-size: 40px;
    font-weight: 400;
}
#filter .filter_head img{
    margin-top: -10px;
    margin-left: -230px;
}
#filter .fil_menu{
    margin: 35px 0;
}
#filter .fil_btn button{
    border: 1px solid black;
    padding: 10px 15px;
    text-transform: capitalize;
    font-size: 20px;
    margin: 0 5px;
}
#filter .image{
    position: relative;
    overflow: hidden;
}
#filter .filter_overlay{
    position: absolute;
    top: 0;
    right: -40%;
    width: 100px;
    height: 100%;
    background: rgba(0, 0, 0, 0.627);
    opacity: 0;
    transition: all linear 0.5s;
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -ms-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
}
#filter .filter_overlay i{
    font-size: 20px;
    color: white;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border: 1px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    margin: 20px 0;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
    opacity: 0;
}
#filter .image:hover .filter_overlay{
    opacity: 1;
    right: 0;
}
#filter .image:hover i{
    opacity: 1;
}
#filter .filter_overlay ul{
   margin-top: 80%;
}
#filter .filter_overlay i:hover{
    color: #de4644;
    border: 1px solid #de4644;
    background: white;
}
/* filter part end */

/* microsoft part start */
#microsoft{
    padding: 50px 0;
    background-color: #f1f1f1;
    font-family: 'Raleway', sans-serif;
}
.micro_main{
    display: flex;
}
.micro_left img{
    width: 100%;
}
#micro .micro_right{
    padding-left: 59px;
}
#microsoft .micro_right h4{
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}
.micro_right h2{
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    color: #de4644;
}

.micro_right p{
    font-size: 14px;
}
.micro_right h6{
    font-size: 10px;
    text-transform: uppercase;
}
.micro_count .style{

    padding: 10px;
    margin-top: 20px;
    border: 1px solid #222222;
}

/* microsoft part end */

/* latest part start */
#latest{
    padding: 100px 0;
    font-family: 'Raleway', sans-serif;
}
#latest_head{
    position: relative;
}
#latest h4{
    text-transform: capitalize;
    font-size: 40px;
    font-weight: 400;
}
#latest .latest_head img{
    margin-top: -10px;
    margin-left: -180px;
}
#latest .latest_menu{
    margin-top: 50px;
    margin-bottom: 30px;
}
#latest .latest_slick{
    margin-top: 70px;
}
#latest .latest_menu p{
    display: inline-block;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    padding: 0 20px;
    color: black;
    border-left: 1px solid black;
}

#latest .latest_menu p:hover{
    color: #de4644;
}
#latest .image{
    position: relative;
    overflow: hidden;
}
#latest .latest_overlay{
    position: absolute;
    top: 0;
    right: -40%;
    width: 100px;
    height: 100%;
    background: rgba(0, 0, 0, 0.627);
    opacity: 0;
    transition: all linear 0.5s;
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -ms-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
}
#latest .latest_overlay i{
    font-size: 20px;
    color: white;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border: 1px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    margin: 20px 0;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
    opacity: 0;
}
#latest .image:hover .latest_overlay{
    opacity: 1;
    right: 0;
}
#latest .image:hover i{
    opacity: 1;
}
#latest .latest_overlay ul{
   margin-top: 80%;
}
#latest .latest_overlay i:hover{
    color: #de4644;
    border: 1px solid #de4644;
    background: white;
}
#latest .latest_text{
    text-transform: capitalize;
}
#latest .latest_icon .one, .two{
    color: black;
    border: 1px solid black;
    margin-left: 10px;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    transition: all linear.4s;
    -webkit-transition: all linear.4s;
    -moz-transition: all linear.4s;
    -ms-transition: all linear.4s;
    -o-transition: all linear.4s;
}
#latest .latest_icon .one:hover, .two:hover{
   background: #de4644;
   color: black;
   border: 1px solid #de4644;
}
/* latest part end */



/* testimonial part start */
#testimonial{
    padding: 40px 0;
    font-family: 'Raleway', sans-serif;
}
#testimonial .testi_head h2{
    text-transform: capitalize;
    font-size: 40px;
    font-weight: 500;
}
#testimonial .testi_head img{
    margin-top: -20px;
    margin-left: 6px;
}
#testimonial .testi_main{
    background: url(../images/12.jpg) no-repeat center / cover;
    position: relative;
    z-index: 1;
    padding: 30px 0;
}
#testimonial .testi_main::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #030302b3;
    z-index: -1;
}
#testimonial  .testi_item{
    color: white;
    display: flex;
}
#testimonial  .testi_item img{
    padding-right: 20px;
}
#testimonial  .testi_item h4{
    text-transform: uppercase;
    font-size: 20px;
}
#testimonial  .testi_item h6{
    text-transform: capitalize;
    font-size: 16px;
}
#testimonial  .testi_item p{
   font-size: 14px;
    font-weight: 400;
}
#testimonial  .testi_item h3{
    font-family: 'Ms Madi';
    font-size: 18px;
     font-weight: 400;
     text-align: right;
 }
 .testi_inn{
     position: relative;
     margin-top: 50px;
 }
.testi_inn .first{
    position: absolute;
    height: 30px;
    width: 30px;
    left: 47%;
    bottom: 10px;
    border: 2px solid white;
    color: white;
    text-align: center;
    line-height: 30px;
    margin-top: 20px;
}

.testi_inn .second{
    position: absolute;
    height: 30px;
    width: 30px;
    right: 48%;
    bottom: 10px;
    border: 2px solid red;
    color: red;
    text-align: center;
    line-height: 30px;
}
/* testimonial part end */


/* blog part start */
#blog{
    padding: 100px 0;
    font-family: 'Raleway', sans-serif;
}
#blog .cards{
    padding-top: 20px;
}
#blog .blog_head h2{
    text-transform: capitalize;
    font-size: 40px;
    font-weight: 500;
}
#blog .blog_head img{
    margin-top: 10px;
    margin-left: -32px;
}
#blog .blog_img{
    position: relative;
}
#blog .blog_nasted{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.632);
    width: 100%;
    height: 100%;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
    opacity: 0;
}
#blog .cards:hover .blog_nasted{
    opacity: 1;
}
#blog .blog_nst_top p{
    color: #dddddd;
    margin: 10px 0 0 0;
    display: inline-block;
}
#blog .blog_nst_mid i{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate( -50%);
    -webkit-transform: translate( -50%);
    -moz-transform: translate( -50%);
    -ms-transform: translate( -50%);
    -o-transform: translate( -50%);
    color: #dddddd;
    height: 40px;
    width: 40px;
    border: 1px solid #dddddd;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
}
#blog .blog_nst_bottom{
    padding-top: 200px;
}
#blog .blog_nst_bottom i{
    color: #dddddd;
    font-size: 14px;
    margin-top: 30px;
}
 #blog .blog_nst_bottom span{
    color: #dddddd;
    font-size: 12px;
}
#blog .blog_text h4{
    font-size: 20px;
    font-weight: 400;
    color: black;
    padding-top: 20px;

}
#blog .blog_text p{
    font-size: 14px;
    font-weight: 400;
    color: black;
    padding-top: 20px;
} 
 #blog .blog_text span{
    font-size: 16px;
    font-weight: 400;
    color: black;
    padding-top: 20px;
    text-transform: capitalize;
}



/* blog part end */


/* bottom part start */
#bottom{
    background: #353535;
    padding: 50px 0;
}
.btm_text p{
    font-size: 14px;
    padding: 10px 0;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.btm_contact h4{
    color: white;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.btm_contact p{
    color: white;
    font-size: 14px;
}
.btm_contact i{
    padding-right: 10px;
    color: white;
}
.btm_account h4{
    color: white;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.btm_account h6{
    color: white;
    font-size: 14px;
    padding: 5px 0;
    text-transform: capitalize;
}
.btm_account h6:hover{
    color: #de4644;
    margin-left: 5px;
}
.sign_up h4{
    color: white;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.sign_up input{
    background: transparent;
    border: 1px solid white;
    color: white;
    padding-left: 5px;
    font-style: italic;
}
.sign_up a{
    color: white;
    font-size: 16px;
    background-color: #de4644;
    text-transform: uppercase;
    height: 27px;
    width: 70px;
    text-align: center;
    margin-left: -10px;
    padding: 3px;
    text-decoration: none;

}
.sign_up h6{
    margin-top: 10px;
    font-size: 16px;
    text-transform: capitalize;
    color: white;
}
.btn_sign_icon i{
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;

    color: black;
    margin-top: 20px;
    border: 1px solid white;
    margin-right: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: white;
}
.btn_sign_icon i:hover{
    background-color: #de4644;
    color: white;
}
/* bottom part end */


/* footer part start */
#footer{
    background: #555555;
    height: 50px;
    line-height: 50px;
    color: white;
}
.foot_left p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.foot_left p span{
    text-transform: uppercase;
    color: #de4644;
    font-size: 16px;
}
/* footer part end */