*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    vertical-align: middle;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
}
/* custom css end */


/* header part start */
#header{
    background: #444444;
}
select{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 14px;
}
select option{
    color: black;
    font-size: 14px;
}
.top_left{
    position: relative;
    padding-top: 12px;
}
.top_left::after{
    position: absolute;
    content: '';
    top: 0;
    right: 80.50% !important;
    background: white;
    height: 50px;
    width: 1px;
}
.top_left::before{
    position: absolute;
    content: '';
    top: 0;
    left: 8% !important;
    background: white;
    height: 50px;
    width: 2px;
}
.top_left .number{
    display: inline-block;
}
.top_left .number p{
    color: white;
    font-size: 14px;
}
.top_left .money{
    margin: 0 13px;
}
#header .top_right{
    display: flex;
    justify-content: end;
    color: white;
    font-size: 14px;
    position: relative;
    padding-top: 12px;
}
.top_right::after{
    position: absolute;
    content: '';
    top: 0;
    right: 16% !important;
    background: white;
    height: 50px;
    width: 3px;
}
.top_right::before{
    position: absolute;
    content: '';
    top: 0;
    left: 67.50% !important;
    background: white;
    height: 50px;
    width: 2px;
}
.user{
    padding: 0  15px;
}
/* header part end */



/* navbar part start */
.ban_menu{
    padding-top: 20px;
 }
 .ban_menu .nav-item img{
     margin-top: -32px;
     margin-left: 10px;
     opacity: 0;
 }
 .ban_menu  .nav-item:hover img{
     opacity: 1;
 }
 .ban_menu li a{
     font-family: 'Raleway', sans-serif;
     font-weight: 500;
     font-size: 18px;
     color: black;
 }
 .ban_menu li a:hover{
     color: #de4644;
 }
 .nav_icon{
     padding-top: 10px;
 }
 .nav_icon p i{
     color: #de4644;
 }
 .nav_icon li{
     margin-left: 15px;
 }
 .nav_icon p {
     font-family: 'Raleway', sans-serif;
     font-weight: 500;
     font-size: 18px;
  }
  .search{
    position: relative;
  }
  .search input{
    opacity: 0;
    position: absolute;
    top: 0;
    right: 10px;
    background: transparent;
    border: 1px solid #444;
    transition: all linear.4s;
    -webkit-transition: all linear.4s;
    -moz-transition: all linear.4s;
    -ms-transition: all linear.4s;
    -o-transition: all linear.4s;
    padding-left: 5px;
    cursor: pointer;
}
.search input:focus{
    opacity: 1;
    cursor: text;
}
.search i{
    font-weight: 900;
    margin-right: 30px;
    cursor: pointer;
}
 /* navbar part end */

 /* about part start */
#about{
    background: url(../images/21.jpg);
    padding: 30px 0;
    position: relative;
    z-index: 1;
}
#about::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.616);
    z-index: -1;
}
#about .about_item h2{
    color: white;
    font-size: 24px;
    font-weight: 400;
}
#about .about_item h5{
    color: white;
    font-size: 14px;
    font-weight: 400;
}
#about .about_item h5 span{
    color: #de4644;
    font-size: 14px;
    font-weight: 400;
}
/* about part end */

/* details part start */
#details{
    padding-top: 120px;
    padding-bottom: 30px;
}
#details .detaipls_descri h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-transform: capitalize;
}
#details .detaipls_descri h6{
    font-size: 16px;
    font-weight: 500;
}
#details .detaipls_descri p{
    font-weight: 500;
    font-size: 14px;
    border-bottom: 4px solid black;
    border-style: dotted;
}
#details .details_descrip_color{
    border-top: 1px solid black;
    border-top-style: dashed;
    padding: 10px 0;
    margin-top: 30px;
}
#details .xzoom-thumbs{
    padding: 30px 0;
}
#details input{
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0 2px 5px;
}
#details input:hover,
input:focus{
    background: #ff008b;
    color: #fff;
}
#details .box h5{
    text-transform: capitalize;
    font-size: 18px;

}
#details .box button{
    border: 1px solid black;
    padding: 8px;
}
#details .box input{
    margin: 0 10px;
}
#details .details_descrip_color{
    /* margin-bottom: 1px solid rgba(0, 0, 0, 0.136);
    border-bottom-style: dashed; */
    border-bottom: 1px solid black;
    border-bottom-style: dashed;
}
#details .details_descrip_icon{
    padding: 30px 0;
    border-bottom: 1px solid black;
    border-bottom-style: dashed;
}
#details .details_descrip_icon i:hover{
    background: #de4644;
    color: white;
}
#details .details_descrip_icon i{
    border: 1px solid black;
    padding: 10px;
    margin-left: 5px;
}
#details .details_descrip_code{
    padding: 20px 0;
}
#details .details_descrip_code p{
    font-size: 16px;
}
#details .details_descrip_share p{
    font-size: 18px;
    text-transform: capitalize;
}
#details .details_descrip_share i{
    font-size: 18px;
    border: 1px solid black;
    padding: 8px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
#details .details_descrip_share i:hover{
    background-color: #de4644;
    color: white;
}
/* details part end */
/* latest part start */
#latest{
    padding: 100px 0;
    font-family: 'Raleway', sans-serif;
}
#latest_head{
    position: relative;
}
#latest h4{
    text-transform: capitalize;
    font-size: 40px;
    font-weight: 400;
}
#latest .latest_head img{
    margin-top: -10px;
    margin-left: -180px;
}
#latest .latest_menu{
    margin-top: 50px;
    margin-bottom: 30px;
}
#latest .latest_slick{
    margin-top: 70px;
}
#latest .latest_menu p{
    display: inline-block;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    padding: 0 20px;
    color: black;
    border-left: 1px solid black;
}
#latest .latest_menu p:hover{
    color: #de4644;
}
#latest .image{
    position: relative;
    overflow: hidden;
}
#latest .latest_overlay{
    position: absolute;
    top: 0;
    right: -40%;
    width: 100px;
    height: 100%;
    background: rgba(0, 0, 0, 0.627);
    opacity: 0;
    transition: all linear 0.5s;
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -ms-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
}
#latest .latest_overlay i{
    font-size: 20px;
    color: white;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border: 1px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    margin: 20px 0;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
    opacity: 0;
}
#latest .image:hover .latest_overlay{
    opacity: 1;
    right: 0;
}
#latest .image:hover i{
    opacity: 1;
}
#latest .latest_overlay ul{
   margin-top: 80%;
}
#latest .latest_overlay i:hover{
    color: #de4644;
    border: 1px solid #de4644;
    background: white;
}
#latest .latest_text{
    text-transform: capitalize;
}
#latest .latest_icon .one, .two{
    color: black;
    border: 1px solid black;
    margin-left: 10px;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    transition: all linear.4s;
    -webkit-transition: all linear.4s;
    -moz-transition: all linear.4s;
    -ms-transition: all linear.4s;
    -o-transition: all linear.4s;
}
#latest .latest_icon .one:hover, .two:hover{
   background: #de4644;
   color: black;
   border: 1px solid #de4644;
}
#latest .slick-slide{
    margin: 0 10px;
}
/* latest part end */

/* bottom part start */
#bottom{
    background: #353535;
    padding: 50px 0;
}
.btm_text p{
    font-size: 14px;
    padding: 10px 0;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.btm_contact h4{
    color: white;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.btm_contact p{
    color: white;
    font-size: 14px;
}
.btm_contact i{
    padding-right: 10px;
    color: white;
}
.btm_account h4{
    color: white;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.btm_account h6{
    color: white;
    font-size: 14px;
    padding: 5px 0;
    text-transform: capitalize;
}
.btm_account h6:hover{
    color: #de4644;
    margin-left: 5px;
}
.sign_up h4{
    color: white;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.sign_up input{
    background: transparent;
    border: 1px solid white;
    color: white;
    padding-left: 5px;
    font-style: italic;
}
.sign_up a{
    color: white;
    font-size: 16px;
    background-color: #de4644;
    text-transform: uppercase;
    height: 27px;
    width: 70px;
    text-align: center;
    margin-left: -10px;
    padding: 3px;
    text-decoration: none;

}
.sign_up h6{
    margin-top: 10px;
    font-size: 16px;
    text-transform: capitalize;
    color: white;
}
.btn_sign_icon i{
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;

    color: black;
    margin-top: 20px;
    border: 1px solid white;
    margin-right: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: white;
}
.btn_sign_icon i:hover{
    background-color: #de4644;
    color: white;
}
/* bottom part end */


/* footer part start */
#footer{
    background: #555555;
    height: 50px;
    line-height: 50px;
    color: white;
}
.foot_left p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.foot_left p span{
    text-transform: uppercase;
    color: #de4644;
    font-size: 16px;
}
/* footer part end */